.hero_section_container_main{
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.hero_section_text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero_text_heading{
    margin: 0;
    font-family: Zen Dots;
    font-size: 5rem;
    letter-spacing: 0.5rem;
}

.hero_text_subheading{
    width: 85%;
    font-size: 1rem;
    letter-spacing: 0.2rem;
}

.hero_cta{
    width: fit-content;
    padding: 0 1rem;
}